-if @user == current_user
  %h1= @applicant.name
-else
  %h1= @receiver.name
%p
  -if @messages.present?
    -@messages.each do |message|
      %li
        %strong= message.content
        %small= User.find(message.user_id).name
  -else
    = "メッセージはありません。"

= form_for(@message, url: room_messages_path(@room)) do |message|
  = message.label :content
  = message.text_field :content

  = message.hidden_field :room_id, value: @room.id
  = message.hidden_field :user_id, value: current_user.id

  = message.submit "送信"


