- provide(:title, "Post Job")
%h1 Post jobs!!
%p Please fill in form!  m(_ _)m
%div
  = form_for @job, url: user_jobs_path do |f|

    = f.label :title
    = f.text_field :title

    = f.label :content
    = f.text_field :content

    = f.submit "Post this job"
