- provide(:title, "Job")
%h1= @job.title
= @job.content

%p= link_to @job.user.name, user_path(@job.user.id)

%p
- if Like.exists?(user_id: current_user.id, job_id: @job.id)
  - like = Like.find_by(user_id: current_user.id, job_id: @job.id)
  = link_to "bat", like_path(like,params: {job_id: @job.id}), method: :delete
- else
  = link_to 'good!', user_likes_path(current_user, params: {id: @job.id}), method: :post

= link_to "いいね", user_likes_path(current_user, params: {id: @job.id})
= @likes_count


-if current_user != @job.user
  -if (@room = Room.find_by(sender: current_user.id, receiver: @job.user.id)).present?
    = link_to "チャットを続ける", room_messages_path(@room)
  -else
    = link_to "チャットを始める", user_rooms_path(@job.user), method: :post