- provide(:title, "Job")
%h1= @job.title
= @job.content

%p= link_to @job.user.name, user_path(@job.user.id)

%p
- if Like.exists?(user_id: current_user.id, job_id: @job.id)
  - like = Like.find_by(user_id: current_user.id, job_id: @job.id)
  = link_to "bat", like_path(like,params: {job_id: @job.id}), method: :delete
- else
  = link_to 'good!', likes_path(params: {id: @job.id}), method: :post

= link_to "いいね", likesuser_path(params: {id: @job.id})
= @likes_count