%h1
  =@user.name


-if @messages.present?
  -@messages.each do |m|
    %li= m.content
    %small= m.user.name
-else
  %p There is no message.


= form_for @message, url:user_messages_path(current_user) do |f|
  = f.label :content
  = f.text_field :content
  = f.hidden_field :room_id, value: @room.id

  =f.submit "送信"

= link_to "ユーザー詳細へ", @user
