%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "Job Site", root_path, id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Home", root_path
        - if logged_in?
          %li= link_to "Jobs", user_jobs_path(current_user)
          %li= link_to "Log out", session_path(current_user), method: :delete
          %li= link_to "Post job", new_user_job_path(current_user)
        - else
          %li= link_to "Log in", new_session_path

