%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "Job Site", root_path, id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Home", root_path
        %li= link_to "Jobs", user_jobs_path(current_user)
        - if logged_in?
          %li= link_to "Log out", logout_path, method: :delete
          %li= link_to "Post job", user_jobs_path(current_user)
        - else
          %li= link_to "Log in", login_path

